<div nz-row class="body">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="3" >
      <h1>Sing in</h1>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="3">
      <a>Need an acount?</a>
    </div>
  </div>

  <div nz-row nzType="flex" nzJustify="center" class="div-form">
    <div nz-col nzSpan="8">
      <form>
        <fieldset>
          <input  class="textin formctrl" type="text" placeholder="Account"/>
        </fieldset>
        <fieldset>
          <input class="textin formctrl" type="text" placeholder="Password"/>
        </fieldset>
        <fieldset>
        <div nz-col nzSpan="15">
          <input class="textin formctrl in-code" type="text" placeholder="Verification code"/>
        </div>
          <div nz-col nzSpan="3">
            <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=4285587126,3302189430&fm=27&gp=0.jpg" style="vertical-align:middle">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
