.tag{
  font-family: titillium web,sans-serif;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  color: #5cb85c;
  line-height: 60px;
}
.header-top{
  height: 60px;
}
.halest{
  float: right;
}
.header-right{
  display: inline-block;
}
.header-right ul li{
  list-style: none;
  float: left;
  line-height: 60px;
  list-style: none;
}

.header-right li a{
  font-size: 16px;
  margin-left: 15px;
  color: rgba(0,0,0,.3);
  text-decoration: none;
}

.header-right li a:hover{
  font-size: 16px;
  margin-left: 15px;
  color: rgba(0,0,0,1);
}

.user-img{
  height: 26px;
}

div ul li a.head-select{
  color: #5cb85c;
}

.title{
  float: right;
  text-align: right;
}
