<div nz-row>
  <div nz-row nzType="flex" nzJustify="center" class="header-top">
    <div nz-col nzSpan="4">
      <a class="tag">condict</a>
    </div>
    <div nz-col nzOffset="6" nzSpan="7" class="header-right">
        <ul>
          <li><a routerLink="/home" routerLinkActive="head-select" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li>
            <a routerLink='/home/article' routerLinkActive="head-select" [routerLinkActiveOptions]="{exact:true}">
              <i nz-icon type="file-markdown" theme="outline"></i> New Article
            </a>
          </li>
          <li>
            <a routerLink="/setting" routerLinkActive="head-select" [routerLinkActiveOptions]="{exact:true}">
                <i nz-icon type="setting" theme="outline"></i> Setting
            </a>
          </li>
          <li>
            <a routerLink="/personal" routerLinkActive="head-select" [routerLinkActiveOptions]="{exact:true}">
              <img class="user-img" src="//www.baidu.com/img/bd_logo1.png?where=super"/>Kingning
            </a>
          </li>
        </ul>
    </div>
  </div>
</div>
