<div nz-row>
  <div nz-row nzType="flex" nzJustify="center" class="header-top">
    <div nz-col nzSpan="4">
      <a class="tag">condict</a>
    </div>
    <div nz-col nzOffset="6" nzSpan="7" class="header-right">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink='/home/article'><i nz-icon type="file-markdown" theme="outline"></i> NEW ARTICLE</a></li>
          <li><a><i nz-icon type="setting" theme="outline"></i> Setting</a></li>
          <li><a><img class="user-img" src="//www.baidu.com/img/bd_logo1.png?where=super"/>Kingning</a></li>
        </ul>
    </div>
    <div >
    </div>
  </div>
</div>
